
    .card-container {
        background: #fff;
        border: 1px solid #eee;
        padding: 15px 20px;
        text-align: left;
        border-radius: 0 0 5px 5px;
    }
    
    .card-container strong {
        font-size: 16px;
        color: #333;
    }
    
    .card-container p {
        font-size: 14px;
        line-height: 20px;
        color: #999;
    }

    .card-container .infoUsers {
        display: flex;
        flex-direction: row;
    }
    
    .card-container .infoLol {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
    }
    
    .card-container .infoInsta {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
    }

    .card-container .emblem-div {
        display: flex;
        flex-direction: row;
    }
    
    .card-container  .emblem-div div {
        margin: 10px;
    }
    
    .card-container div.tier-name{
        text-align: center;
        font-size: 18px;
        color: #333;
    }
    
    .card-container img.emblem {
        width: 100px;
        height: 110px;
        align-self: center;
        border-radius: 5px 5px 0 0;
    }
    
    .card-container .emblem-mode {
        flex: 1;
        text-align: center;
    }
    
    .card-container img.icon {
        width: 70px;
        height: 70px;
        margin-bottom: 5px;
    }
    
    .card-container .mainChamps img {
        width: 50px;
        height: 50px;
        
    }
    
    
