.champ-conteiner {
    width: 400px;
    height: 200px;
    padding: 5px;
    overflow-y: scroll;
}

.champ-conteiner li {
    list-style-type: none;
}

.champ-conteiner li div {
    float: left;
    width: 46px;
    height: 46px;
    margin: 0px;
    border-radius: 50%;
}

.champ-conteiner li div img:hover {
    clip-path: circle(45% at 50% 50%);
    margin-top: 0px;
    margin-left: 0px;
    width: 50px;
    height: 50px;
    box-shadow: 10px 0px 20px rgb(0, 0, 207);
}

.champ-conteiner li div img {
    clip-path: circle(40% at 50% 50%);
    margin-top: 3px;
    margin-left: 3px;
    width: 44px;
    height: 44px;
    transition: clip-path 0.15s,
    opacity 1s;
}

.champ-conteiner li div img.hide {
    opacity: 0.15;
}

.champ-conteiner li div img.show {
    opacity: 1;
}