.chat-window{
    /* position:absolute; */
    width: 300px;
    height: 300px;
    border: 2px solid #ccc;
    padding: 5px;
    margin: 0px;
    box-sizing: border-box;
}

.chat-window ul {
        list-style-position:inside;
        display: flex;
        flex-direction:  column;    
}

.chat-window .titlebar{
    height: 40px;
    background-color: rgb(215, 239, 255);
    overflow: hidden;
}

.chat-window .titlebar img{
    height: inherit;
}

.txt-container{
    height: 200px;
    overflow-y:scroll;
}

.text-baloon {
    box-sizing: border-box;
    font-family: roboto, Helvetica, sans-serif;
    font-size: 14px;
    height:24px;
    border-radius:12px;
    padding: 8px;
    margin: 0px;
    line-break: loose;
    word-wrap: break-word;
    height: auto;
    max-width: 80%;
    box-shadow: 0 0 5px #0002;
}

.text-baloon.esquerda {
    float: left;
    color: #222;
    background-color: rgb(200, 196, 250);
}
.text-baloon.direita {
    float: right;
    color: white;
    background-color: rgb(79, 75, 133);
}
.text-datemark{
    font-family: monospace;
    font-size: 8px;
    padding: 0px;
    position:relative;
    bottom:0px;
}

.text-datemark.esquerda{
    text-align: left;
    color: #555;
}

.text-datemark.direita{
    text-align: right;
    color: #bbb;
}

.send-box{
    display: flex;
    flex-direction: row;
    height: 25px;
}

.send-input{
    width: 100%;
}

.send-button{
    padding: 2px;
}