.formUser-container {
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100%;
}

.formUser-container form {
    height: 600px;
    width: 60%;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;   
    align-items: center;  
}

.formUser-container form input {
    width: 370px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
}

.formUser-container form input ::placeholder {
    color: #999;
}

.formUser-container form button {
    width: 200px;
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    background: rgb(44, 97, 128);
    color: #fff;
    cursor: pointer;
}








