.matchList-container {
    padding: 0px;
    margin: 0px;
}

.matchList-container h1 {
    
    font-size: 24px;
}

.matchList-container input {
    height: 30px;
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
}

.matchList-container input ::placeholder {
    color: #999;
}


.matchList-container ul{
    list-style-position:inside;
    display: flex;
    flex-direction: column;
   
}

.matchList-container ul li{
    list-style-type: none;
    margin: 1px;
    
}


