.route-container nav {  
    background-image: url('../assets/backRouter.png');
    height: 220px;
    width: 230px;
    background-position: center;

}

.route-container nav input{
    display: none;
}

.route-container #noneRoutes {
    cursor: pointer;
    position: absolute;
   
    margin: 77px; 
    z-index: 1;  
}

.route-container #noneRoutes img {
    border-radius: 50%;
    
    transform: rotate(180deg);
    transition: all 1s;
}

.route-container .link {
    cursor: pointer;
    position: absolute;
    height: 30px;
    width: 30px;
    margin:  100px;
    transition: all .5s ease-out;
}

.route-container #checkroute:checked ~ #noneRoutes img {
    transform: rotate(0deg);
    background-image: radial-gradient(circle, var(--blueLight) 50%, transparent 70%);
   
}

.route-container #checkroute:checked ~ #top1 #link_01 {
    transform: translatex(-80px);
    transition-delay: .4s;
}

.route-container #checkroute:checked ~ #jungle1 #link_02 {
    transform: translate(-60px,-60px);
    transition-delay: .4s;
}

.route-container #checkroute:checked ~ #mid1 #link_03 {
    transform: translateY(-80px);
    transition-delay: .4s;
}

.route-container #checkroute:checked ~ #bot1 #link_04 {
    transform: translate(60px,-60px);
    transition-delay: .4s;
}

.route-container #checkroute:checked ~ #suporte1 #link_05 {
    transform: translateX(80px);
    transition-delay: .4s;
}

.route-container #checkroute:checked ~ #allRoutes1 #link_06 {
    transform: translateY(75px);
    transition-delay: .4s;
}


.route-container #toproute:checked ~ #top1 #link_01 {
    transform: translate(-7.5px, -7.5px);
    z-index: 1;
    border-radius: 50%;
    background-color: rgba(15, 15, 15, 0.9);
    height: 44px;
    width: 44px;
    padding: 4px;
    
    transition-delay: .1s;
}

.route-container #jungleroute:checked ~ #jungle1 #link_02 {
    transform: translate(-7.5px, -7.5px);
    z-index: 1;
    border-radius: 50%;
    background-color: rgba(15, 15, 15, 0.9);
    height: 44px;
    width: 44px;
    padding: 4px;
    
    transition-delay: .1s;
}

.route-container #midroute:checked ~ #mid1 #link_03 {
    transform: translate(-7.5px, -7.5px);
    z-index: 1;
    border-radius: 50%;
    background-color: rgba(15, 15, 15, 0.9);
    height: 44px;
    width: 44px;
    padding: 4px;
    
    transition-delay: .1s;
}

.route-container #botroute:checked ~ #bot1 #link_04 {
    transform: translate(-7.5px, -7.5px);
    z-index: 1;
    border-radius: 50%;
    background-color: rgba(15, 15, 15, 0.9);
    height: 44px;
    width: 44px;
    padding: 4px;
    
    transition-delay: .1s;
}

.route-container #suporteroute:checked ~ #suporte1 #link_05 {
    transform: translate(-7.5px, -7.5px);
    z-index: 1;
    border-radius: 50%;
    background-color: rgba(15, 15, 15, 0.9);
    height: 44px;
    width: 44px;
    padding: 4px;
    transition-delay: .1s;
    
}

.route-container #allRoutesroute:checked ~ #allRoutes1 #link_06 {
    transform: translate(-7.5px, -7.5px);
    z-index: 1;
    border-radius: 50%;
    background-color: rgba(15, 15, 15, 0.9);
    height: 44px;
    width: 44px;
    padding: 4px;
    transition-delay: .1s;
    
}


.route-container #checkroute:not(:checked) ~ #top1 #link_01 {
    position: absolute;
    margin:  100px;
}

.route-container #checkroute:not(:checked) ~ #jungle1 #link_02 {
    position: absolute;
    margin:  100px;  
}

.route-container #checkroute:not(:checked) ~ #mid1 #link_03 {
    position: absolute;
    margin:  100px; 
}

.route-container #checkroute:not(:checked) ~ #bot1 #link_04 {
    position: absolute;
    margin:  100px;  
}

.route-container #checkroute:not(:checked) ~ #suporte1 #link_05 {
    position: absolute;
    margin:  100px;   
}

.route-container #checkroute:not(:checked) ~ #allRoutes1 #link_06 {
    position: absolute;
    margin:  100px;  
}

.route-container #checkroute2:checked ~ #noneRoutes img {
    transform: rotate(0deg);
    background-image: radial-gradient(circle, var(--blueLight) 50%, transparent 70%);
   
}
 
 .route-container #checkroute2:checked ~ #top1 #link_01 {
     transform: translatex(-80px);
     transition-delay: .4s;
 }
 
 .route-container #checkroute2:checked ~ #jungle1 #link_02 {
     transform: translate(-60px,-60px);
     transition-delay: .4s;
 }
 
 .route-container #checkroute2:checked ~ #mid1 #link_03 {
     transform: translateY(-80px);
     transition-delay: .4s;
 }
 
 .route-container #checkroute2:checked ~ #bot1 #link_04 {
     transform: translate(60px,-60px);
     transition-delay: .4s;
 }
 
 .route-container #checkroute2:checked ~ #suporte1 #link_05 {
     transform: translateX(80px);
     transition-delay: .4s;
 }

 .route-container #checkroute2:checked ~ #allRoutes1 #link_06 {
    transform: translateY(75px);
    transition-delay: .4s;
}
 
 .route-container #toproute2:checked ~ #top1 #link_01 {
    transform: translate(-7.5px, -7.5px);
    z-index: 1;
    border-radius: 50%;
    background-color: rgba(15, 15, 15, 0.9);
    height: 44px;
    width: 44px;
    padding: 4px;
    
    transition-delay: .1s;
 }
 
 .route-container #jungleroute2:checked ~ #jungle1 #link_02 {
    transform: translate(-7.5px, -7.5px);
    z-index: 1;
    border-radius: 50%;
    background-color: rgba(15, 15, 15, 0.9);
    height: 44px;
    width: 44px;
    padding: 4px;
    
    transition-delay: .1s;
 }
 
 .route-container #midroute2:checked ~ #mid1 #link_03 {
    transform: translate(-7.5px, -7.5px);
    z-index: 1;
    border-radius: 50%;
    background-color: rgba(15, 15, 15, 0.9);
    height: 44px;
    width: 44px;
    padding: 4px;
    
    transition-delay: .1s;
 }
 
 .route-container #botroute2:checked ~ #bot1 #link_04 {
    transform: translate(-7.5px, -7.5px);
    z-index: 1;
    border-radius: 50%;
    background-color: rgba(15, 15, 15, 0.9);
    height: 44px;
    width: 44px;
    padding: 4px;
    
    transition-delay: .1s;
 }
 
 .route-container #suporteroute2:checked ~ #suporte1 #link_05 {
    transform: translate(-7.5px, -7.5px);
    z-index: 1;
    border-radius: 50%;
    background-color: rgba(15, 15, 15, 0.9);
    height: 44px;
    width: 44px;
    padding: 4px;
    
    transition-delay: .1s;
     
 }

 .route-container #allRoutesroute2:checked ~ #allRoutes1 #link_06 {
    transform: translate(-7.5px, -7.5px);
    z-index: 1;
    border-radius: 50%;
    background-color: rgba(15, 15, 15, 0.9);
    height: 44px;
    width: 44px;
    padding: 4px;
    
    transition-delay: .1s;
    
}
 
 .route-container #checkroute2:not(:checked) ~ #top1 #link_01 {
     position: absolute;
     margin:  100px;
 }
 
 .route-container #checkroute2:not(:checked) ~ #jungle1 #link_02 {
     position: absolute;
     margin:  100px;
 }
 
 .route-container #checkroute2:not(:checked) ~ #mid1 #link_03 {
     position: absolute;
     margin:  100px;
 }
 
 .route-container #checkroute2:not(:checked) ~ #bot1 #link_04 {
     position: absolute;
     margin:  100px;
 }
 
 .route-container #checkroute2:not(:checked) ~ #suporte1 #link_05 {
     position: absolute;
     margin:  100px;
 }

 .route-container #checkroute2:not(:checked) ~ #allRoutes1 #link_06 {
    position: absolute;
    margin:  100px;
}