.main-container {
    max-width: 980px;
    margin: 0 auto;
    padding: 50px 0;
    text-align:  center;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
}

.main-container .logo {
    height: 100px;
}

.main-container ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 15px;
}

.main-container ul li {
    display: flex;
    flex-direction: column;
}


.chatBox-container{
    padding: 0px;
    margin: 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    /* background-color: #f5f5f5; */
    
}

.chatBox-container ul{
    list-style-position:inside;
    display: flex;
}

.chatBox-container ul li{
    list-style-type: none;
}


.main-container ul li .buttons {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.main-container ul li .buttons button {
    height: 50px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    border: 0;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
}

.main-container ul li .buttons button:hover img {
    transform: translateY(-5px);
    transition: all 0.2s;
}

.main-container .empty {
    font-size: 32px;
    color: #999;
    font-weight: bold;
    margin-top: 300px;
}

.main-container button {
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    background: rgb(44, 97, 128);
    color: #fff;
    cursor: pointer;
    width: 150px;
}


