.profile-container {
    max-width: 980px;
    margin: 0 auto;
    padding: 50px 0;
    text-align:  center;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    align-items: center;
}

.profile-container .logo {
    height: 100px;
}

.profile-container footer {
    display: flex;
    flex-direction: column;
    width: 350px;
    flex: 1;
    background: #fff;
    border: 1px solid #eee;
    padding: 15px 20px;
    text-align: left;
    border-radius: 0 0 5px 5px;
    margin-top: 15px;
    
}

.profile-container footer .emblem-div div {
    margin: 10px;
}

.profile-container footer .emblem-div {
    display: flex;
    flex-direction: row;
}

.profile-container footer .emblem-div .emblem-mode .tier-name{
    text-align: center;
    font-size: 18px;
    color: #333;
}

.profile-container footer img.emblem {
    width: 100px;
    height: 110px;
    align-self: center;
    border-radius: 5px 5px 0 0;
}

.profile-container .emblem-mode {
    flex: 1;
    text-align: center;
}

.profile-container footer img.icon {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
}

.profile-container footer img.icon.small {
    width: 50px;
    height: 50px;
    
}

.profile-container footer strong {
    font-size: 16px;
    color: #333;
}

.profile-container footer p {
    font-size: 14px;
    line-height: 20px;
    color: #999;
}

.profile-container .infoUsers {
    display: flex;
    flex-direction: row;
}

.profile-container .infoUsers .infoLol {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.profile-container .infoUsers .infoInsta {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.profile-container .editar {
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    background: rgb(44, 97, 128);
    color: #fff;
    cursor: pointer;
    width: 120px;
}

